<a href="https://colab.research.google.com/github/beercafeguy/PyMLLab/blob/master/practice/adv_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
s = df['Name']
len(s)

891

In [ ]:
s = s[0:10]

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [ ]:
# named indexes
new_index = ['a','b','c','d','e','f','g','h','i','j']
s1 = pd.Series(list(s),index=new_index,)

In [ ]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [ ]:
s1[1]

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [ ]:
s2 = s1.append(pd.Series(["Hem Chandra"]))

In [ ]:
s2[2:4]

c                          Heikkinen, Miss. Laina
d    Futrelle, Mrs. Jacques Heath (Lily May Peel)
dtype: object

In [ ]:
s1 = pd.Series([10,20,30,40,50],index=[1,2,3,4,5])
s2 = pd.Series([11,22,33,44,55],index=[3,4,5,6,7])
s3 = s1.append(s2)

In [ ]:
s3

1    10
2    20
3    30
4    40
5    50
3    11
4    22
5    33
6    44
7    55
dtype: int64

In [ ]:
s1 * s2 # multiply by index

1       NaN
2       NaN
3     330.0
4     880.0
5    1650.0
6       NaN
7       NaN
dtype: float64

In [ ]:
s3[4]

4    40
4    22
dtype: int64

In [ ]:
s3[1:4]

2    20
3    30
4    40
dtype: int64

In [ ]:
s1+ s2

1     NaN
2     NaN
3    41.0
4    62.0
5    83.0
6     NaN
7     NaN
dtype: float64

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.drop('PassengerId',axis='columns')

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.drop('PassengerId',axis=1)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.drop('PassengerId',axis=1,inplace=True)

In [ ]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.drop(2,axis=0,inplace=True)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [ ]:
df.set_index("Name",inplace=True)
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.head()

,Name,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S
3,"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S
4,"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q

In [ ]:
d = {
    'key1':[2,4,5,6,7],
    'key2':[34,56,78,98,90],
    'key3':[34,54,23,5,41]
}

pd.DataFrame(d).head()

   key1  key2  key3
0     2    34    34
1     4    56    54
2     5    78    23
3     6    98     5
4     7    90    41

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!ls -ltr /content/gdrive/MyDrive/sample_data

total 225
-rw------- 1 root root 136632 Feb 24 14:53 'LUSID Excel - Setting up your market data.xlsx'
-rw------- 1 root root  78285 Feb 24 15:20  html_table.csv
-rw------- 1 root root  14618 Feb 26 15:57  taxonomy.csv.xls

In [11]:
import pandas as pd
df = pd.read_csv('/content/gdrive/MyDrive/sample_data/taxonomy.csv.xls')

In [12]:
df.head()

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

In [16]:
df.dropna() # drop rows with NA data

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5     101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [18]:
df.dropna(axis='columns')

    taxonomy_id                          name
0           101                     Emergency
1        101-01             Disaster Response
2        101-02                Emergency Cash
3     101-02-01             Help Pay for Food
4     101-02-02       Help Pay for Healthcare
..          ...                           ...
285   111-01-07              Workplace Rights
286      111-02                     Mediation
287      111-03                        Notary
288      111-04                Representation
289      111-05  Translation & Interpretation

[290 rows x 2 columns]

In [19]:
df

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [20]:
df.fillna('Hem')

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       Hem                   Hem
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [21]:
df

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [22]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [23]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
df.groupby(['Survived']).sum()

          PassengerId  Pclass       Age  SibSp  Parch        Fare
Survived
0              245412    1390  12985.50    304    181  12142.7199
1              151974     667   8219.67    162    159  16551.2294

In [30]:
df.groupby(['Pclass']).mean()

        PassengerId  Survived        Age     SibSp     Parch       Fare
Pclass
1        461.597222  0.629630  38.233441  0.416667  0.356481  84.154687
2        445.956522  0.472826  29.877630  0.402174  0.380435  20.662183
3        439.154786  0.242363  25.140620  0.615071  0.393075  13.675550

In [32]:
df.groupby(['Pclass']).max()['Fare']

<ipython-input-32-ed9515d28e8e>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby(['Pclass']).max()['Fare']

Pclass
1    512.3292
2     73.5000
3     69.5500
Name: Fare, dtype: float64

In [34]:
df.groupby(['Pclass']).mean().T

Pclass                1           2           3
PassengerId  461.597222  445.956522  439.154786
Survived       0.629630    0.472826    0.242363
Age           38.233441   29.877630   25.140620
SibSp          0.416667    0.402174    0.615071
Parch          0.356481    0.380435    0.393075
Fare          84.154687   20.662183   13.675550

In [35]:
df.groupby(['Pclass']).mean(['Fare'])

        PassengerId  Survived        Age     SibSp     Parch       Fare
Pclass
1        461.597222  0.629630  38.233441  0.416667  0.356481  84.154687
2        445.956522  0.472826  29.877630  0.402174  0.380435  20.662183
3        439.154786  0.242363  25.140620  0.615071  0.393075  13.675550

In [36]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
df1 = df[['Name','Survived','Pclass']][0:5]
df2 = df[['Name','Survived','Pclass']][5:10]

In [41]:
# merge (join in sql)

pd.concat([df1,df2],axis=0)

                                                Name  Survived  Pclass
0                            Braund, Mr. Owen Harris         0       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1       1
2                             Heikkinen, Miss. Laina         1       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1       1
4                           Allen, Mr. William Henry         0       3
5                                   Moran, Mr. James         0       3
6                            McCarthy, Mr. Timothy J         0       1
7                     Palsson, Master. Gosta Leonard         0       3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         1       3
9                Nasser, Mrs. Nicholas (Adele Achem)         1       2

In [44]:
df7 = pd.concat([df1,df2],axis=1)
df7

,Name,Survived,Pclass,Name,Survived,Pclass
0,"Braund, Mr. Owen Harris",0.0,3.0,NaN,NaN,NaN
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,1.0,NaN,NaN,NaN
2,"Heikkinen, Miss. Laina",1.0,3.0,NaN,NaN,NaN
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1.0,1.0,NaN,NaN,NaN
4,"Allen, Mr. William Henry",0.0,3.0,NaN,NaN,NaN
5,NaN,NaN,NaN,"Moran, Mr. James",0.0,3.0
6,NaN,NaN,NaN,"McCarthy, Mr. Timothy J",0.0,1.0
7,NaN,NaN,NaN,"Palsson, Master. Gosta Leonard",0.0,3.0
8,NaN,NaN,NaN,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1.0,3.0
9,NaN,NaN,NaN,"Nasser, Mrs. Nicholas (Adele Achem)",1.0,2.0

In [45]:
df7.fillna('Hem')

,Name,Survived,Pclass,Name,Survived,Pclass
0,"Braund, Mr. Owen Harris",0.0,3.0,Hem,Hem,Hem
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,1.0,Hem,Hem,Hem
2,"Heikkinen, Miss. Laina",1.0,3.0,Hem,Hem,Hem
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1.0,1.0,Hem,Hem,Hem
4,"Allen, Mr. William Henry",0.0,3.0,Hem,Hem,Hem
5,Hem,Hem,Hem,"Moran, Mr. James",0.0,3.0
6,Hem,Hem,Hem,"McCarthy, Mr. Timothy J",0.0,1.0
7,Hem,Hem,Hem,"Palsson, Master. Gosta Leonard",0.0,3.0
8,Hem,Hem,Hem,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1.0,3.0
9,Hem,Hem,Hem,"Nasser, Mrs. Nicholas (Adele Achem)",1.0,2.0

In [46]:
data1 = pd.DataFrame(
    {
        'key1':[1,2,3,4],
        'key2':[4,5,6,7],
     'key3':['a','b','c','d']
    }
)

data2 = pd.DataFrame(
    {
        'key1':[1,2,33,44],
        'key4':[4,5,6,7],
        'key5':['p','q','r','s']
    }
)

In [47]:
data1

   key1  key2 key3
0     1     4    a
1     2     5    b
2     3     6    c
3     4     7    d

In [48]:
data2

   key1  key4 key5
0     1     4    p
1     2     5    q
2    33     6    r
3    44     7    s

In [49]:
pd.merge(data1,data2)

   key1  key2 key3  key4 key5
0     1     4    a     4    p
1     2     5    b     5    q

In [51]:
pd.merge(data1,data2,how="left")

   key1  key2 key3  key4 key5
0     1     4    a   4.0    p
1     2     5    b   5.0    q
2     3     6    c   NaN  NaN
3     4     7    d   NaN  NaN

In [52]:
pd.merge(data1,data2,how="right")

   key1  key2 key3  key4 key5
0     1   4.0    a     4    p
1     2   5.0    b     5    q
2    33   NaN  NaN     6    r
3    44   NaN  NaN     7    s

In [56]:
data1.merge(data2,how='inner',on='key1')

   key1  key2 key3  key4 key5
0     1     4    a     4    p
1     2     5    b     5    q

In [54]:
pd.merge(data1,data2,how="outer")

   key1  key2 key3  key4 key5
0     1   4.0    a   4.0    p
1     2   5.0    b   5.0    q
2     3   6.0    c   NaN  NaN
3     4   7.0    d   NaN  NaN
4    33   NaN  NaN   6.0    r
5    44   NaN  NaN   7.0    s

In [57]:
data1.merge(data2,how='left',on='key1')

   key1  key2 key3  key4 key5
0     1     4    a   4.0    p
1     2     5    b   5.0    q
2     3     6    c   NaN  NaN
3     4     7    d   NaN  NaN

In [66]:
data1 = pd.DataFrame(
    {
        'key1':[1,2,3,4],
        'key2':[4,5,6,7],
     'key3':['a','b','c','d']
    },
    index=[101,102,103,104]
)

data2 = pd.DataFrame(
    {
        'key11':[1,2,33,44],
        'key22':[4,5,6,7],
        'key33':['p','q','r','s']
    },
    index=[101,102,203,204]
)

In [67]:
data1

     key1  key2 key3
101     1     4    a
102     2     5    b
103     3     6    c
104     4     7    d

In [68]:
data2

     key11  key22 key33
101      1      4     p
102      2      5     q
203     33      6     r
204     44      7     s

In [70]:
data1.join(data2,how='inner')

     key1  key2 key3  key11  key22 key33
101     1     4    a      1      4     p
102     2     5    b      2      5     q

In [71]:
data1.join(data2,how='left')

     key1  key2 key3  key11  key22 key33
101     1     4    a    1.0    4.0     p
102     2     5    b    2.0    5.0     q
103     3     6    c    NaN    NaN   NaN
104     4     7    d    NaN    NaN   NaN

In [72]:
data1.join(data2,how='right')

     key1  key2 key3  key11  key22 key33
101   1.0   4.0    a      1      4     p
102   2.0   5.0    b      2      5     q
203   NaN   NaN  NaN     33      6     r
204   NaN   NaN  NaN     44      7     s

In [73]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [74]:
df['Fare_INR'] = df.Fare.apply(lambda x: x * 87)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_INR
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,630.7500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,6201.6471
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,689.4750
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4619.7000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,700.3500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1131.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,2610.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,2040.1500
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,2610.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,674.2500

In [75]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_INR
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,630.7500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,6201.6471
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,689.4750
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4619.7000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,700.3500

In [79]:
df['Name_len'] = df.Name.str.len()

In [80]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_INR,Name_len
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,630.7500,23
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,6201.6471,51
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,689.4750,22
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4619.7000,44
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,700.3500,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1131.0000,21
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,2610.0000,28
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,2040.1500,40
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,2610.0000,21
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,674.2500,19

In [83]:
def get_fare_cat(fare):
  if fare < 10:
    return 'BASE'
  elif fare >=10 and fare < 20:
    return 'MID'
  else:
    return 'HIGH'

df['Fare_Cat'] = df.Fare.apply(get_fare_cat)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_INR,Name_len,Fare_Cat
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,630.7500,23,BASE
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,6201.6471,51,HIGH
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,689.4750,22,BASE
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4619.7000,44,HIGH
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,700.3500,24,BASE