<a href="https://colab.research.google.com/github/beercafeguy/PyMLLab/blob/master/practice/window_functions_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
stock_list = [100, 98, 95, 96, 99, 102, 103, 105, 105, 108]
stock_array = np.array(stock_list)
(stock_array[1:]/stock_array[:-1] - 1).reshape(-1,1)

array([[-0.02      ],
       [-0.03061224],
       [ 0.01052632],
       [ 0.03125   ],
       [ 0.03030303],
       [ 0.00980392],
       [ 0.01941748],
       [ 0.        ],
       [ 0.02857143]])

In [14]:
stock_df = pd.DataFrame(stock_list, columns=['price'])

In [15]:
stock_df

   price
0    100
1     98
2     95
3     96
4     99
5    102
6    103
7    105
8    105
9    108

In [16]:
stock_df['prev_price'] = stock_df.shift(1)
stock_df['daily_return'] = (stock_df['price']/stock_df['prev_price'])-1
stock_df['expand_mean']=stock_df['daily_return'].expanding().mean()
print(stock_df)

   price  prev_price  daily_return  expand_mean
0    100         NaN           NaN          NaN
1     98       100.0     -0.020000    -0.020000
2     95        98.0     -0.030612    -0.025306
3     96        95.0      0.010526    -0.013362
4     99        96.0      0.031250    -0.002209
5    102        99.0      0.030303     0.004293
6    103       102.0      0.009804     0.005212
7    105       103.0      0.019417     0.007241
8    105       105.0      0.000000     0.006336
9    108       105.0      0.028571     0.008807

In [17]:
stock_df['roll_mean_3']=stock_df['daily_return'].rolling(3).mean()
stock_df

   price  prev_price  daily_return  expand_mean  roll_mean_3
0    100         NaN           NaN          NaN          NaN
1     98       100.0     -0.020000    -0.020000          NaN
2     95        98.0     -0.030612    -0.025306          NaN
3     96        95.0      0.010526    -0.013362    -0.013362
4     99        96.0      0.031250    -0.002209     0.003721
5    102        99.0      0.030303     0.004293     0.024026
6    103       102.0      0.009804     0.005212     0.023786
7    105       103.0      0.019417     0.007241     0.019841
8    105       105.0      0.000000     0.006336     0.009740
9    108       105.0      0.028571     0.008807     0.015996