<a href="https://colab.research.google.com/github/beercafeguy/PyMLLab/blob/master/02_Feb_AssQ_Hindi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.  Explain with an example each when to use a for loop and while loop

**Ans**
For loop is used when we no the number of iterations in advance like iterating through a list

In [1]:
l = ["Hem","Chandra","Data Science","PWSkills"]
for entry in l:
  print(entry.upper())

HEM
CHANDRA
DATA SCIENCE
PWSKILLS

While loop is used when we need to break the look when we reach a perticular condition like reducing number till we reach a perticular value

In [2]:
num = 100
while num > 10:
  print(num,end = " ")
  num = num /2

100 50.0 25.0 12.5

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [5]:
# Using for loop
sum = 0
for i in range(1,11):
  sum +=i
print(sum)

55

In [6]:
# Using while loop
sum = 0
num = 1
while(num < 11):
  sum +=num
  num += 1
print(sum)

55

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [13]:
def get_bill(units):

  total_bill = 0
  if units > 300:
    total_bill = total_bill + ((units - 300) * 20)
    units = 300
  if units <= 300 and units > 200:
    total_bill = total_bill + ((units - 200) * 10)
    units = 200
  if units <= 200 and units > 100:
    total_bill = total_bill + ((units - 100) * 6)
    units = 100
  if units <= 100:
    total_bill = total_bill + (units * 4.5)
  return total_bill

units = int(input("Enter number of units consumed in this month : "))
get_bill(units)

Enter number of units consumed in this month : 310

2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [20]:
# Assuming I need to take the list of inclusive 1,100
numbers = list(range(1,101))

# Using For loop

selected_list = []
for i in numbers:
  cube = i ** 3
  if cube % 4 == 0 or cube % 5 == 0:
     selected_list.append(i)
print(selected_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [23]:
# Using While loop

selected_list = []
counter = 0
while counter < len(numbers):
  cube = numbers[counter] ** 3
  if cube % 4 == 0 or cube % 5 == 0:
     selected_list.append(numbers[counter])
  counter +=1
print(selected_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [24]:
# I am not really sure what filter count means so giving an implementation where I count number of times a vowel is present in given String
string = "I want to become a data scientist"
vowels = ['a','e','i','o','u']
vowel_count = 0
for c in string:
  if c in vowels:
    vowel_count +=1
print(vowel_count)

11