<a href="https://colab.research.google.com/github/beercafeguy/PyMLLab/blob/master/17_Feb_AssQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1.** What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

**Ans:**

Mongo DB is an open source documented oriented NoSQL database which is designed on scaleout architecture.

Non relational databases are the group of database systems which does not work on the principle of normalizing databases based on relations. These databases generally does not have relations between different entities like RDBMS systems. Here data is mostlt stored and denormalized form. One more important difference is that no SQL databases generally does not follow a strick predefined schema so schema can evolve over time without much hassle.



**When to use Mongo DB** 
<br>


1.   Where you can manage without relations in data
2.   Where you need highly scalable system which is not able to run with traditional databases.
3.   Where the structure of your entiry is eveolving frequently.
4.   You need Hybrid cloud support.

**Q2.** State and Explain the features of MongoDB.

**Ans**
1. **Support for Adhoc queries:** User can make query using filters ranges etc for adhoc analysis.
2. **Indexing** Unlike some other NoSQL databases, MongoDB collections can be indexed on any field in document.
3. **Data Replication** Data stored in mongo can be replicated for disaster recovery.
4. **Load balancing** Because the data is placed in shards, it supports automatic load balancing.
5. **Support for map and reduce operations** Makes the data analysis easy.
6. **Schemaless Documents** Makes the schema evolution easy.
7. **Auto sharding** Makes horizontal scaling simple

**Q3.** Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.3.0)

In [13]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://usr:pwd@beercafecluster.5i7z0cc.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [14]:
db = client['schooldb'] # creating DB

stu1  = {
    'id':1,
    'name':'Hem Chandra',
    'age':10
} # sample document

coll_students= db['students'] # creating collection

coll_students.insert_one(stu1) # inserting document to collection

In [15]:
for stu in coll_students.find(): # get data from mongo
  print(stu)

{'_id': ObjectId('63f073abffd86402cf9e48f7'), 'id': 1, 'name': 'Hem Chandra', 'age': 10}

**Q4.** Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [16]:
stu2  = {
    'id':2,
    'name':'Ajay Alok',
    'age':12,
    'class':3
} 
coll_students.insert_one(stu2) # inserting one record 

all_students = [
    {'id':3,'name':'Vipin Chandola','age':11},
    {'id':4,'name':'Neha Rathi','age':12},
    {'id':5,'name':'Lokesh Mahant','age':10},
    {'id':6,'name':'Pan Singh','age':11}
]
coll_students.insert_many(all_students)

In [17]:
coll_students.find_one() # get one record from collection

{'_id': ObjectId('63f073abffd86402cf9e48f7'),
 'id': 1,
 'name': 'Hem Chandra',
 'age': 10}

In [18]:
for i in coll_students.find(): # getting all the students
  print(i)

{'_id': ObjectId('63f073abffd86402cf9e48f7'), 'id': 1, 'name': 'Hem Chandra', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48f8'), 'id': 2, 'name': 'Ajay Alok', 'age': 12, 'class': 3}
{'_id': ObjectId('63f073b2ffd86402cf9e48f9'), 'id': 3, 'name': 'Vipin Chandola', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48fa'), 'id': 4, 'name': 'Neha Rathi', 'age': 12}
{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48fc'), 'id': 6, 'name': 'Pan Singh', 'age': 11}

**Q5.** Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [19]:
# find can be used to get all the data from a collection or data with filter.
# For example if we to get the students whoes age is <=10 years. Will use below code.
for i in coll_students.find({"age":{"$lte":10}}): 
  print(i)

{'_id': ObjectId('63f073abffd86402cf9e48f7'), 'id': 1, 'name': 'Hem Chandra', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}

**Q6.** Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [28]:
# sort is used to sort the output of find operation
for i in coll_students.find().sort("age"): 
  print(i)

{'_id': ObjectId('63f073abffd86402cf9e48f7'), 'id': 1, 'name': 'Hem Chandra', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48f9'), 'id': 3, 'name': 'Vipin Chandola', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48fc'), 'id': 6, 'name': 'Pan Singh', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48f8'), 'id': 2, 'name': 'Ajay Alok', 'age': 12, 'class': 3}
{'_id': ObjectId('63f073b2ffd86402cf9e48fa'), 'id': 4, 'name': 'Neha Rathi', 'age': 12}

In [29]:
# for sort descending
for i in coll_students.find().sort("age",-1): 
  print(i)

{'_id': ObjectId('63f073b2ffd86402cf9e48f8'), 'id': 2, 'name': 'Ajay Alok', 'age': 12, 'class': 3}
{'_id': ObjectId('63f073b2ffd86402cf9e48fa'), 'id': 4, 'name': 'Neha Rathi', 'age': 12}
{'_id': ObjectId('63f073b2ffd86402cf9e48f9'), 'id': 3, 'name': 'Vipin Chandola', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48fc'), 'id': 6, 'name': 'Pan Singh', 'age': 11}
{'_id': ObjectId('63f073abffd86402cf9e48f7'), 'id': 1, 'name': 'Hem Chandra', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}

In [30]:
# for sort on multiple fields
for i in coll_students.find().sort([("age", pymongo.ASCENDING), ("id", pymongo.DESCENDING)]): 
  print(i)

{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}
{'_id': ObjectId('63f073abffd86402cf9e48f7'), 'id': 1, 'name': 'Hem Chandra', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48fc'), 'id': 6, 'name': 'Pan Singh', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48f9'), 'id': 3, 'name': 'Vipin Chandola', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48fa'), 'id': 4, 'name': 'Neha Rathi', 'age': 12}
{'_id': ObjectId('63f073b2ffd86402cf9e48f8'), 'id': 2, 'name': 'Ajay Alok', 'age': 12, 'class': 3}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one is used to delete one document from collection. If query matches more then one document, it will only delete first record.

In [33]:
for i in coll_students.find():
  print(i)

{'_id': ObjectId('63f073abffd86402cf9e48f7'), 'id': 1, 'name': 'Hem Chandra', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48f8'), 'id': 2, 'name': 'Ajay Alok', 'age': 12, 'class': 3}
{'_id': ObjectId('63f073b2ffd86402cf9e48f9'), 'id': 3, 'name': 'Vipin Chandola', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48fa'), 'id': 4, 'name': 'Neha Rathi', 'age': 12}
{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48fc'), 'id': 6, 'name': 'Pan Singh', 'age': 11}

In [34]:
coll_students.delete_one({"id":1})

In [35]:
for i in coll_students.find():
  print(i)

{'_id': ObjectId('63f073b2ffd86402cf9e48f8'), 'id': 2, 'name': 'Ajay Alok', 'age': 12, 'class': 3}
{'_id': ObjectId('63f073b2ffd86402cf9e48f9'), 'id': 3, 'name': 'Vipin Chandola', 'age': 11}
{'_id': ObjectId('63f073b2ffd86402cf9e48fa'), 'id': 4, 'name': 'Neha Rathi', 'age': 12}
{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}
{'_id': ObjectId('63f073b2ffd86402cf9e48fc'), 'id': 6, 'name': 'Pan Singh', 'age': 11}

delete_many is used to delete more then one record from collection

In [36]:
coll_students.delete_many({"age":11})

In [37]:
for i in coll_students.find():
  print(i)

{'_id': ObjectId('63f073b2ffd86402cf9e48f8'), 'id': 2, 'name': 'Ajay Alok', 'age': 12, 'class': 3}
{'_id': ObjectId('63f073b2ffd86402cf9e48fa'), 'id': 4, 'name': 'Neha Rathi', 'age': 12}
{'_id': ObjectId('63f073b2ffd86402cf9e48fb'), 'id': 5, 'name': 'Lokesh Mahant', 'age': 10}

drop is used to delete a collection

In [39]:
coll_students.drop()

In [41]:
db.list_collection_names() # to get the list of collections in DB

[]