<a href="https://colab.research.google.com/github/beercafeguy/PyMLLab/blob/master/30th_Jan_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![picture](https://drive.google.com/file/d/10_PpW_1KOua1GkQhuWK8z6WhkhAq3dZu)

In [5]:
def get_grade(percentage):
  if percentage > 90:
    return 'A'
  elif percentage > 80 and percentage <= 90:
    return 'B'
  elif percentage >=60 and percentage <=80:
    return 'C'
  else:
    return 'D'

pct = int(input('Please enter your percentage marks :'))
print('Grade :' +get_grade(pct))

Please enter your percentage marks :64
Grade :C

In [9]:
def get_road_tax(cost_price):
  if cost_price > 100000:
    return cost_price * 0.15
  elif cost_price > 50000 and cost_price <=100000:
    return cost_price * 0.1
  else:
    return cost_price * 0.05

cp = int(input('Enter bike\'s Cost Price '))
print('Road Tax : '+str(get_road_tax(cp)))

Enter bike's Cost Price 40000
Road Tax : 2000.0

In [14]:
monument_dict = {
    'Delhi':'Red Fort',
    'Agra': 'Taj Mahal',
    'Jaipur': 'Jal Mahal'
}

def display_monument(city_name):
  if city_name in monument_dict:
    print(monument_dict[city_name])
  else:
    print("I am not aware of any monument in {0}".format(city_name))

city = input('Enter City Name ')
display_monument(city)

Enter City Name Dehradun
I am not aware of any monument in Dehradun

In [19]:
def div_by_3(number):
  counter = 0
  while number > 10:
    counter +=1
    number = number/3
  return counter
print(div_by_3(200))

3

In [23]:
# Iterate through number 1 to 10
for i in range(1,10):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [27]:
def print_right_triangle(num_rows):

    i =1
    while i <= num_rows:
        j = i
        while j > 0:
            print('*', end=' ')
            j-=1
        print()
        i+=1

print_right_triangle(4)

*
* *
* * *
* * * *

In [28]:
def print_right_triangle(num_rows):

    i =1
    while i <= num_rows:
        j = i
        while j > 0:
            print(str(i), end=' ')
            j-=1
        print()
        i+=1

print_right_triangle(4)

1
2 2
3 3 3
4 4 4 4

In [31]:
def print_right_triangle(num_rows):

    i =1
    while i <= num_rows:
        j = 1
        while j <= i:
            print(str(j), end=' ')
            j+=1
        print()
        i+=1

print_right_triangle(4)

1
1 2
1 2 3
1 2 3 4

In [36]:
def print_left_triangle(num_rows):

    i =1
    while i <= num_rows:
      num_space = num_rows - i
      num_star = i
      pattern = " " * num_space + "*"*num_star
      print(pattern)
      i+=1

print_left_triangle(10)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [37]:
def print_num(top_num):
  while(top_num > 0):
    print(top_num ,end=' ')
    top_num -=1
print_num(10)

10 9 8 7 6 5 4 3 2 1

In [39]:
def print_num(top_num):
  nums = range(1,top_num)
  i = 0
  while(i <= len(nums)):
    print(top_num - i ,end=' ')
    i+=1
print_num(10)

10 9 8 7 6 5 4 3 2 1