<a href="https://colab.research.google.com/github/beercafeguy/PyMLLab/blob/master/file_handeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
f = open("test.txt","w")

In [3]:
!pwd

/content

In [4]:
!ls -ltr

total 4
drwxr-xr-x 1 root root 4096 Feb 13 14:35 sample_data
-rw-r--r-- 1 root root    0 Feb 15 04:34 test.txt

In [6]:
f.write("This is my file")

15

In [7]:
f.close()

In [8]:
!cat test.txt

This is my file

In [9]:
!wc -l test.txt

0 test.txt

In [10]:
f = open("test.txt","w")
f.write("This is my file in secind run")
f.close()
!cat test.txt

This is my file in secind run

In [11]:
f = open("test.txt","a")
f.write("The simplest way to produce output is using the print statement where you can pass zero or more expressions separated by commas. This function converts the expressions you pass into a string and writes the result to standard output as follows")
f.close()

In [12]:
!cat test.txt

This is my file in secind runThe simplest way to produce output is using the print statement where you can pass zero or more expressions separated by commas. This function converts the expressions you pass into a string and writes the result to standard output as follows

In [13]:
f = open("test.txt","r")
print(f.read())

This is my file in secind runThe simplest way to produce output is using the print statement where you can pass zero or more expressions separated by commas. This function converts the expressions you pass into a string and writes the result to standard output as follows

In [15]:
f = open("test.txt","r")
for line in f:
  print(line)
f.close()

This is my file in secind runThe simplest way to produce output is using the print statement where you can pass zero or more expressions separated by commas. This function converts the expressions you pass into a string and writes the result to standard output as follows

In [17]:
import os

os.path.getsize('test.txt')

271

In [18]:
os.remove('test.txt')

In [19]:
!ls -ltr

total 4
drwxr-xr-x 1 root root 4096 Feb 13 14:35 sample_data

In [20]:
f = open("test.txt","w")
f.write("This is my file in secind run")
f.close()
!cat test.txt

This is my file in secind run

In [21]:
os.path.getsize('test.txt')

29

In [22]:
os.rename("test.txt","renamed_test.txt")
!ls -ltr

total 8
drwxr-xr-x 1 root root 4096 Feb 13 14:35 sample_data
-rw-r--r-- 1 root root   29 Feb 15 04:45 renamed_test.txt

In [24]:
import shutil 
shutil.copy("renamed_test.txt","test.txt")
!ls -ltr

total 12
drwxr-xr-x 1 root root 4096 Feb 13 14:35 sample_data
-rw-r--r-- 1 root root   29 Feb 15 04:45 renamed_test.txt
-rw-r--r-- 1 root root   29 Feb 15 04:46 test.txt

In [25]:
with open("test.txt","r") as f:
  for i in f:
    print(i)

This is my file in secind run

In [26]:
with open("range_write.txt","w") as f:
  for i in range(10):
    f.write(str(i)+"\n")

In [27]:
with open("range_write.txt","r") as f:
  for i in f:
    print(i)

0

1

2

3

4

5

6

7

8

9

In [28]:
!ls -ltr

total 16
drwxr-xr-x 1 root root 4096 Feb 13 14:35 sample_data
-rw-r--r-- 1 root root   29 Feb 15 04:45 renamed_test.txt
-rw-r--r-- 1 root root   29 Feb 15 04:46 test.txt
-rw-r--r-- 1 root root   20 Feb 15 04:48 range_write.txt

In [30]:
!wc -l range_write.txt

10 range_write.txt

In [31]:
data = {
    'name':'Hem',
    'mail': 'hem@gmail.com',
    'phone_number' : 734983749,
    'subject':['DS','Python']
}

import json
with open('data.json','w') as f:
  json.dump(data,f)

In [32]:
!cat data.json

{"name": "Hem", "mail": "hem@gmail.com", "phone_number": 734983749, "subject": ["DS", "Python"]}

In [33]:
with open('data.json','r') as f:
  json_data = json.load(f)

In [36]:
print(json_data['name'])

Hem

In [37]:
# create csv file
with open('sample.csv','w') as f:
  f.write("id,name,salary\n")
  f.write("101,Aman,12000\n")
  f.write("102,Ajay,14000\n")
  f.write("103,Neha,22000\n")

!cat sample.csv

id,name,salary
101,Aman,12000
102,Ajay,14000
103,Neha,22000

In [39]:
import csv
csv_records = [
    ["id","name","salary"],
    ["101","Hem","10000"],
    ["102","Ajay","20000"],
    ["103","Anik","23000"]
    ]

with open("employees.csv","w") as f:
  writer = csv.writer(f)
  for i in csv_records:
    writer.writerow(i)

In [40]:
!cat employees.csv

id,name,salary
101,Hem,10000
102,Ajay,20000
103,Anik,23000

In [41]:
with open("employees.csv","r") as f:
  reader = csv.reader(f)
  for i in reader:
    print(i)

['id', 'name', 'salary']
['101', 'Hem', '10000']
['102', 'Ajay', '20000']
['103', 'Anik', '23000']

In [42]:
with open("test.bin","wb") as f:
  f.write(b"\x01\x02\x03")

In [43]:
!cat test.bin



In [44]:
!ls -ltr

total 32
drwxr-xr-x 1 root root 4096 Feb 13 14:35 sample_data
-rw-r--r-- 1 root root   29 Feb 15 04:45 renamed_test.txt
-rw-r--r-- 1 root root   29 Feb 15 04:46 test.txt
-rw-r--r-- 1 root root   20 Feb 15 04:48 range_write.txt
-rw-r--r-- 1 root root   96 Feb 15 04:50 data.json
-rw-r--r-- 1 root root   60 Feb 15 04:54 sample.csv
-rw-r--r-- 1 root root   63 Feb 15 04:57 employees.csv
-rw-r--r-- 1 root root    3 Feb 15 05:00 test.bin

In [46]:
# buffered read and write
import io

with open("test_new.txt","wb") as f:
  file = io.BufferedWriter(f)

  file.write(b"This in line 1\n")
  file.write(b"This in line 2\n")
  file.flush()

In [47]:
!cat test_new.txt

This in line 1
This in line 2

In [49]:
with open("test_new.txt","rb") as f:
  file = io.BufferedReader(f)

  for line in file:
    print(line)

b'This in line 1\n'
b'This in line 2\n'