In [1]:
x = ['Python', 'programming', 'is', 'awesome!']
print(sorted(x))
print(sorted(x, key=lambda arg: arg.lower()))

['Python', 'awesome!', 'is', 'programming']
['awesome!', 'is', 'programming', 'Python']

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("test").getOrCreate()

In [5]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

In [6]:
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])

In [7]:
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [8]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [9]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [11]:
user=spark.read.option("header","true").option("inferSchema","true").csv("/home/jovyan/data/user.csv")

In [12]:
user.show()

+---+-----+
| id| name|
+---+-----+
|  1|  hem|
|  2|nidhi|
|  3| Aman|
+---+-----+