<a href="https://colab.research.google.com/github/beercafeguy/PyMLLab/blob/master/assignments/25_Feb_AssQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

**Q1.** Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df[1:2]

        course_name  duration
1  Machine Learning         3

**Q2.** What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is used for location a record using location (user provided index) where was iloc is used to provide indexed location (panda generated index)

In [10]:
#Example
df1 = df.set_index('course_name')
df1

                  duration
course_name
Data Science             2
Machine Learning         3
Big Data                 6
Data Engineer            4

In [11]:
df1.iloc[2]

duration    6
Name: Big Data, dtype: int64

In [12]:
df1.loc['Data Engineer']

duration    4
Name: Data Engineer, dtype: int64

**Q3.** Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [15]:
new_index  = [3,0,1,2]
new_df = df.reindex(new_index)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
new_df.loc[2] # new index

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
new_df.iloc[2] # system generated old index

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

As we see in above code, iloc gives output as per old index (given by pandas) hwere as loc gives the output as per new user provided index.

In [18]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.745140  0.054950  0.575943  0.994446  0.379121  0.362508
2  0.112473  0.058441  0.124718  0.558054  0.753526  0.016147
3  0.991753  0.121298  0.726483  0.942033  0.886639  0.813804
4  0.666115  0.836661  0.615462  0.159917  0.895273  0.961237
5  0.632708  0.143745  0.829712  0.136269  0.715398  0.302827
6  0.433092  0.610281  0.096243  0.750072  0.428485  0.360298

**Q4.** Write a code to find the following statistical measurements for the above dataframe df1: <br>
(i) mean of each and every column present in the dataframe. <br>
(ii) standard deviation of column, ‘column_2’

In [19]:
#(i)
df1.mean()

column_1    0.596880
column_2    0.304229
column_3    0.494760
column_4    0.590132
column_5    0.676407
column_6    0.469470
dtype: float64

In [20]:
#(ii)
df1.column_2.std()

0.3343418216271207

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2. <br>
If you are getting errors in executing it then explain why. <br>
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [21]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.745140  0.054950  0.575943  0.994446  0.379121  0.362508
2  0.112473  0.058441  0.124718  0.558054  0.753526  0.016147
3  0.991753  0.121298  0.726483  0.942033  0.886639  0.813804
4  0.666115  0.836661  0.615462  0.159917  0.895273  0.961237
5  0.632708  0.143745  0.829712  0.136269  0.715398  0.302827
6  0.433092  0.610281  0.096243  0.750072  0.428485  0.360298

In [34]:
df1.loc[2,'column_2'] = 'Hem'

In [37]:
df1.head(5)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.745140   0.05495  0.575943  0.994446  0.379121  0.362508
2  0.112473       Hem  0.124718  0.558054  0.753526  0.016147
3  0.991753  0.121298  0.726483  0.942033  0.886639  0.813804
4  0.666115  0.836661  0.615462  0.159917  0.895273  0.961237
5  0.632708  0.143745  0.829712  0.136269  0.715398  0.302827

In [38]:
df1.column_2.mean()

TypeError: ignored

We are getting above error because string vlue 'Hem' can't be added to other float values to caculate mean.

**Q6.** What do you understand about the windows function in pandas and list the types of windows
functions?

Window functions in pandas are the ways of calculating values based on multiple row in the dataframe without making a complete aggregation like moving average etc. Following are the main functions used in pandas for windowing.

1. rolling
2. expending
3. group
4. default_rank
5. cumcount
6. qcut
7. lead/lag
8. first/last

**Q7.** Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [44]:
from datetime import datetime
dt = pd.datetime.now()
print("Month : {}".format(dt.month))
print("Year : {}".format(dt.year))

Month : 2
Year : 2023

<ipython-input-44-e71be574868b>:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  dt = pd.datetime.now()

**Q8.** Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [46]:


def get_diff(dt1,dt2):
  dt1_date = pd.to_datetime(dt1)
  dt2_date = pd.to_datetime(dt2)
  return (dt1_date-dt2_date)

dt1 = input('Enter First Date [in the format YYYY-MM-DD]: ')
dt2 = input('Enter Second Date [in the format YYYY-MM-DD]: ')

print(get_diff(dt1,dt2))

Enter First Date [in the format YYYY-MM-DD]: 2023-01-01
Enter Second Date [in the format YYYY-MM-DD]: 2023-01-03
-2 days +00:00:00

In [47]:

dt1 = input('Enter First Date [in the format YYYY-MM-DD]: ')
dt2 = input('Enter Second Date [in the format YYYY-MM-DD]: ')

print(get_diff(dt1,dt2))

Enter First Date [in the format YYYY-MM-DD]: 2021-03-15
Enter Second Date [in the format YYYY-MM-DD]: 2023-01-01
-657 days +00:00:00

**Q9.** Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [57]:
# https://raw.githubusercontent.com/beercafeguy/PyMLLab/master/data/dim_org.csv

def cat_data_op():
  path = input('Enter File Path: ')
  column_name = input('Enter Categorical column name: ')
  order = input('EnterSorting order: ')

  df = pd.read_csv(path)
  df[column_name] = df[column_name].astype('category')
  ascending = True if order == 'ASC' else False
  df.sort_values(column_name,ascending=ascending,inplace=True)
  return df
cat_data_op().head()

Enter File Path: https://raw.githubusercontent.com/beercafeguy/PyMLLab/master/data/dim_org.csv
Enter Categorical column name: tick
EnterSorting order: ASC

   tick     tick_name          CEO  founded
1   ABC       ABC LTD   Ajay Batra     2020
0   AMZ        Amazon           JB     2013
2   APL   APl PVT LTD    Josh Vrum     1998
4  GOOG        Google           SP     1998
3  MSFT     Microsoft           SN     1975

In [53]:
df.sort_values?